# Variables de entorno sensibles
.env

# Bases de datos locales
/db
/influxdb3_data
/influxdb3_plugins

# Certificados SSL
/ssl

# Configuracion local
/config

# Python cache
\__pycache__

# Virtual environments
env/

# IDE
.vscode/

